<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="user1" class="com.java.entity.User"
          init-method="init" destroy-method="destory"
        lazy-init="true">
        <property name="id" value="1"></property>
        <property name="username" value="zhangsan"></property>
    </bean>
    <!-- 在Bean定义之外别名Bean   -->
    <alias name="user1" alias="user"/>
    <bean id="user2" class="com.java.entity.User"
          p:username="lisi"
          p:password="222"
        >
    </bean>
    <!-- bean 注入 -->
    <bean id="role" class="com.java.entity.Role" p:name="管理员"></bean>
    <bean id="user3" class="com.java.entity.User">
        <property name="username" value="zhangsan"></property>
        <property name="role" ref="role"></property>
    </bean>
    <!--  内部bean注入 -->
    <bean id="user4" class="com.java.entity.User">
        <property name="username" value="zhangsan"></property>
        <property name="role" >
            <bean class="com.java.entity.Role" p:name="经理">
            </bean>
        </property>
    </bean>
    <!--注入null-->
    <bean id="user5" class="com.java.entity.User">
        <property name="username" value="zhangsan"></property>
        <property name="role" >
            <null></null>
        </property>
    </bean>
    <!-- 级联属性注入 需在bean中new 对象-->
    <bean id="user6" class="com.java.entity.User">
        <property name="username" value="zhangsan"></property>
        <property name="role.name"  value="人事">
        </property>
    </bean>
    <!-- 集合 -->
    <bean id="user7" class="com.java.entity.User">
        <property name="username" value="zhangsan"></property>
        <property name="love" >
            <list >
                <value>唱歌</value>
                <value>跳舞</value>
            </list>
        </property>
    </bean>

</beans>