<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd"
        default-autowire="byName">

    <bean id="abstractPerson" class="com.java.entity.Person" >
        <property name="name" value="zhangsan"></property>
        <property name="classname" value="高三"></property>
    </bean>
    <bean id="person" parent="abstractPerson">
        <property name="id" value="1"></property>
        <property name="age" value="20"></property>
        <property name="classname" value="大一"></property>
    </bean>

</beans>